//-----------------------------------------------------------------------------------*/
// Konstanten fuer das Design
//-----------------------------------------------------------------------------------*/
$version: '0.1.4';
// Theme Version
// First Digit:  Manual
// Second Digit: Branch Version
// Third Digit:  (Daily) Submit Version


// Define fonts
$fontStack: sans-serif;
$fontStackSerifs: serif;
$font-family-base: $fontStack;

// Define colors
$colorText:     #000;
$colorTextLight: #797676;
$colorShadows:  rgba(135,132,135,1);
$colorPrimary:  #036;
$colorPrimaryContrast: #fff;



// Font sizes
$font-size-rembase: 100%;
$font-size-gridbase: 16;
$font-size-base: 16;


$font-size-small: ($font-size-base - 2);
$font-size-large: ($font-size-base + 4);
$font-size-larger: ($font-size-base + 8);

$font-size-h1: 48;
$font-size-h2: 36;
$font-size-h3: 28; 
$font-size-h4: 18;
$font-size-h5: 16;
$font-size-h6: $font-size-base;

$font-size-quotes: 24;
$font-size-quotes-cites: ($font-size-quotes - 4);

$font-size-print-base: 12;
